body{
    text-align: center;
    margin: 0;
}
#menu{
    position: fixed;
    background-color: rgb(78, 78, 10);
    width: 100%;
    margin-top: 0px;

}

.links{
    display: inline;
    padding-right: 30px;
    font-size: 20px;
}
a{
    color: white;
    text-decoration: none;
}

/* pseudo class - used to give specific style */
/* selector:pseudo-class{property:value;} */
.links:hover{
    font-size: 30px;
}
a:hover{
    
    color: black;
}
html{
    scroll-behavior: smooth;
}

/* new page - make "target as _ blank" in anger tag */

#home img{
    width: 300px;
    height: 300px;
    border-radius: 50%;
}
#home{
    background-image: linear-gradient(to bottom right, cyan,blue,yellow);
}
.line{
    height: 6px;
    background-color: blueviolet;
    margin: auto;
    width: 80px;
    margin-bottom: 10px;
}